/* big tablets  to 1200px  (width small than 1140px)*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }


}



/* small tablets to big tablets 768 to 1023px */
@media only screen and (max-width: 1023px) {

    .container-cities {
        flex-flow: row wrap;
        align-items: center;
        margin-left: 100px;
    }
body { font-size: 18px;}
    section {padding: 60px 0}

    .long-copy {width: 80%;
        width: 80%;
        margin-left: 10%;
    }

    .step-box {  margin-top: 10px;  }
    .steps-box:last-child {margin-top: 10px;}
    .works-steps {margin-bottom: 40px;}
    .works-step:last-of-type { margin-bottom: 60px;}

    .app-screen { width: 50%}

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%}

    .plan-price {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price { font-size: 250%;}
    .contact-form { width: 80%;}

}




/* small phones to small tablets 481 to 767px */
@media only screen and (max-width: 767px) {

    .container,
    .container-cities {
        flex-flow: row wrap;
        align-items: center;
    }

    body {font-size: 16px}
    section {padding: 30px 0;}

    .row,
    .hero-text-box {padding: 0 4%;}

    .main-nav {display: none;}
    .mobile-nav-icon {display: inline-block;}

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display:block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav{
        margin-top: 10px;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited   {
        padding: 10px 0;
    }
    .sticky .mobile-nav-icon  {margin-top: 10px;}
    .sticky .mobile-nav-icon i {color: #555;}




    h1 { font-size: 180%}
    h2 { font-size: 150%}

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-screen {width: 40%}
    .step-box:first-child {text-align: center;}

    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .works-step { margin-bottom: 20px;}
    .works-step:last-of-type{margin-bottom: 20px;}


    .map-box {
        width:100%;
        height:870px;
        position: relative;
    }

    .map {
        width: 100%;
        height: 220px;
        position:relative;
        z-index: 0;
    }
    .form-box {
        position:relative;
        width: 100%;
        z-index: 10;
        height: auto;
        padding:40px 0;

    }

}
/* small phones 0 to 480px */
@media only screen and (max-width: 480px) {

    section {padding: 25px 0;}
    .contact-form{width: 100%}
    .container,
    .container-cities{
        flex-flow: row wrap;
        align-items: center;
    }

    .map-box {
        height:870px;
    }
    
}

/* MENU TABS */
@media screen and (max-width: 650px) {
    .conveytabs label {
        font-size: 0;
    }

    .conveytabs label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .conveytabs label {
        padding: 15px;
    }

    .container,
    .container-cities {
        flex-flow: row wrap;
        align-items: center;
    }
}