/*
Basic Setup
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {

    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*
Commons
*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    text-align: center;
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*
HEADINGS
*/

.hero-text-box {

    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


h1,
h2,
h3{

    text-transform: uppercase;
}

h1{
    color: #ffffff;
    font-size:240%;
    margin-bottom: 20px;
    word-spacing: 4px;
    font-weight: 300;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size:110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*
paragraph
*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}

/*
Icons
*/

.icon-big {

    font-size: 100px;
    display: block;
    color: orange;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    margin-right: 5px;

    /*secrets of align text and icon */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*
Links
*/

a:link,
a:visited {
    color: orange;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid orange;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:visited {
    color: #555;
    border-bottom: 1px solid transparent;
}



/*
BUTTONS
*/

.btn:link,
.btn:visited,
input[type=submit]{

    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,color 0.2s, border 0.2s ;
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid orange;
    color: orange;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{

    background-color: green;
    color: #ffffff;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid green;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid green;

}

/*
HEADER COMMON
*/

header
{

    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)),url(../img/1gbshx.gif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.logo{
    float: left;
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.logo-black {
    display: none;
    float: left;
    height: 50px;
    width: auto;
    margin-top: 5px;
}

/*Main Nav*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {

    display: inline-block;
    margin-left:40px;

}

.main-nav li a:link,
.main-nav li a:visited   {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}


.main-nav li a:hover,
.main-nav li a:active   {
    border-bottom: 2px solid orange;
    transition: background-color 0.2s,color 0.2s, border 0.2s ;

}

/* Mobile Nav */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display:none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/*Sticky Nav*/
.sticky {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav{
    margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited   {
    padding: 13px 0;
    color: #555;
}

.sticky .logo {display: none;}
.sticky .logo-black { display: block;}

/*
Flex
*/
.container{
    display: flex;
    flex-flow: row nowrap;
}


.container-cities {
    display: inline-flex;
}



@font-face { font-family: "Ionicons"; src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }


/*
Dishes
*/
.dish-circle {

    width: 250px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 100%;
    display:inline-flex;
}
.dish-photo {
    width: 100%;
    height:50%;
    margin:0;
    overflow: hidden;
}

.dish-photo img {
    width: 250px;
}



/*
Meals
*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width:100%;
}

.meals-showcase li {
    display: inline-block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin:0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/*
How it works
*/


.section-steps {
    background-color: #f4f4f4;
}

.step-box:first-child  {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 30px;
}

.works-step:last-of-type {
    margin-bottom: 100px;
}

.works-step div {
    color: orange;
    border: 2px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*
Cities
*/

.img-city {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.city-feature {
    margin-left: 50px;
    text-align: left;
    margin-bottom: 5px;
}

/*
Testimonials
*/

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/banner2.png);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    text-align: left;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}



cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/*
Testimonials
*/



.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 50px;
    box-shadow: 0 2px 2px #efefef;

}

.plan-left {
    width: 200%;
}

.plan-box div {
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.timings-box div:first-child{
    background-color: #fcfcfc;
}

.timings-box div {
    padding: 15px;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-middle {
    text-align: left;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orange;
}

.plan-price span {
    font-size:30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box li {
    padding: 5px 0;
}

.timings li {font-size: 80%;}
.timings span{ float:right; display:inline; width:170px;}

.plan-map {
    width: 100%;
    height: 350px;
}


/*
FORM
*/


.contact-form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.label-config {
    line-height: 200%;
}

.input-config {
    padding-left: 20%;
    line-height: 200%;
    width: 100%;
}

.input-config-leftAlign {
    padding-left: 12%;
    line-height: 200%;
    width: 100%;
}

.input-config {
    padding-left: 20%;
    line-height: 200%;
    width: 100%;
}

input[type=text],
input[type=email],
select,
text {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

textarea {
    height:100px;
    width: 50%;
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/*
Maps
*/
.map {
    width: 100%;
    height: 500px;
}

.map-box {
    width:100%;
    height:500px;
    position: relative;
    z-index: 0;
}

.form-box {
    position:absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
    height: 500px;
    padding:40px;

}

/*
Footer
*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    width: 100%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border:0;
    color:#888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
        transition: color .2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top:20px;
}

/*Animations*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4 {
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity:1;
}

/* Menu Tabs */


.section-menu {
    background-color: #ffffff;
}

.conveytabs {
    padding: 35px;
    margin: 0 auto;
    background: #f4f4f4;
}

.conveytabs section {
    display: none;
    padding: 15px 0 0;
    border-top: 1px solid orange;
}

.conveytabs section p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 10px 0;
    text-align: left;
}
.conveytabs section img{
    width:100%;
    height:auto;
}
.conveytabs input {
    display: none;
}

.conveytabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
}

.conveytabs label:before {
    font-family: 'Lato', 'Arial','sans-serif';
    font-weight: normal;
    margin-right: 10px;
}

.conveytabs label:hover {
    color: orange;
    cursor: pointer;
}

.conveytabs input:checked + label {
    color: orange;
    border: 1px solid orange;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10 {
    display: block;
    height: 75%; /* or any value */
    overflow-y: auto;
}

/* form */

.section-form {
    background-color: #f4f4f4;
}


.comment {
    font-size: 120%;
}

/* photo gallery */
a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}


